.slide-pane {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 100px;
  height: 100%;
  box-shadow: 0 8px 8px rgb(0 0 0 / 50%);
  transition: transform 0.5s;
  will-change: transform;
  margin-top: 70px;
  padding: 10px;
}
